.collection-preview{
    display:flex;
    flex-flow: column wrap;
    width: 100%;
  //  align-items: center;
    align-content: flex-start;
    flex:1 1 auto;
h2{
  &:hover{
    cursor: pointer;
  }
}
   
}
.collection-preview-card-group{
    width: 100%;
    display:flex;
    flex:1 1 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}