.collection-preview{
    display:flex;
    flex-flow: column wrap;
    width: 100%;
  //  align-items: center;
    align-content: flex-start;
    flex:1 1 auto;

   
}
.collection-preview-card-group{
    width: 100%;
    display:flex;
    flex:1 1 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;;
}