.collection-preview-card-group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    // border: 0.1rem solid red;
    &:hover{
      cursor: pointer;
    }
}

// for phone view
@media only screen and (max-width: 400px) {
  .collection-preview-card-group{
    grid-template-columns: 100%;
  }
} 

// for tablet view
@media only screen and (max-width: 720px) and (min-width: 401px){
  .collection-preview-card-group{
    grid-template-columns: 50% 50%;
  }
}