.sign-in{
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    padding: 10px;
    // border: 1px solid green;
}
.sign-in-buttons{
    display: flex;
    justify-content: space-between;
    flex-flow:column wrap;
    // border: 1px solid blue;
    padding-top: 30%;

    
}