.checkout-page {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 0.4rem;
    background-color: azure;
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: grid;
      justify-content: space-between;
      grid-template-columns: 30% 70%;
      border-bottom: 1px solid darkgrey;
  
      & .second-heading{
        display: grid;
        grid-template-columns: 50% 30% 10% 10%;
      }

      .header-block {
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        
        // &:last-child {
        //   width: 8%;
        // }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
  }
  