.sign-in-and-sign-up{
    margin:0 80px;
    //width:100%;
    // display: flex;
    // flex-flow:row wrap;
    // justify-content: space-between;
    //  flex:1 1 auto;


    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
 //   border: 1px solid rgb(246, 8, 28);

}