.sign-in-and-sign-up{
    margin:0 150px;
    display: grid;
    padding: 10px;
    gap: 0 10%;
    grid-template-columns: 45% 45%;
//    border: 1px solid rgb(246, 8, 28);
   
}
@media screen and (max-width: '650px') {
    .sign-in-and-sign-up{
        grid-template-columns: 100%;
    }
}