.related-product-parent{
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
    border: 1px solid green;
    overflow: none;
   
 & .related-page{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: initial;
    flex-flow:row wrap;
    grid-gap: 1rem;
    padding: 1rem;
    border: 1px solid blue;
    overflow: none;
}

@media screen and (max-width: '600px') {
  & .collection-page{
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: '470px') {
  & .collection-page{
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: '350px') {
  & .collection-page{
    grid-template-columns: auto;
  }
}


}

