.related-product-parent{
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
   // border: 1px solid green;
   
 & .related-page{
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: center;
    grid-gap: 0.625rem;
    padding: 0.625rem;
   // border: 1px solid blue;
}

// @media screen and (max-width: 600px) {
//   & .related-page{
//     grid-template-columns: auto auto auto;
//   }
// }

// @media screen and (max-width: 470px) {
//   & .collection-page{
//     grid-template-columns: auto auto;
//   }
// }


@media screen and (max-width: 321px) {
  & .related-page{
    grid-template-columns: repeat(2,50%);
  }
}

@media screen and (max-width: 426px) {
  & .related-page{
    grid-template-columns: repeat(3,33%);
  }
}

}


