.wishlist-page{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 1rem;
    // border: 1px solid green;

    .have-content{
        width: 100%;
        // border: 1px solid red;


        .wishlist-header{
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: center;
            border-bottom: 1px solid black;
            margin-bottom: 20px;
        
            .header-block{
                width:23%;
                text-transform: capitalize;
                margin-bottom: 20px;
                .price{
                    width: 15%;
                }
                &:last-child {
                    width: 8%;
                  }
                }
            }
    }

    .empty-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60%;

            @media screen and (max-width: 425px){
                width: 100%;
            }
        }

        .link{
            width: 60%;
            min-height: 4vh;

            @media screen and (max-width: 425px){
                width: 100%;
            }
        }
        
    }

    @media screen and (max-width: 425px) {
        width: 100%;
    }


}


    .wishlist-page-mobile{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 0.8rem;
    }
