
.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 1.6rem;

  .logo-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .options {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0.8rem 1rem;
      cursor: pointer;
    }
    .wishlist-image{
      height: 22px;
      margin-right: 10px;
     // background-color: red;
    }
  }
}

