.menu-item{
    border:1px solid black;
    //background-color:teal;
    min-width:30%;
      height:240px;
    display:flex;
    flex:1 1 auto;
   // padding:10px 10px;
    align-items:center;
    justify-content:center;
    margin:0 7.5px 15px;
    overflow: hidden;
    cursor: pointer;
   
    
    &:hover  .background-image{

    transform: scale(1.2);
    transition: transform 1s;

   

    }
    &:hover .content{
      background-color: white;
    }
   
 


    

    &.large{
height:380px;
    }
  
  &:first-child{
    margin-right:7.5px;
  }
  &:last-child{
    margin-left:7.5px;
  }
}

  .background-image{
    background-position: center;
    background-size: cover;
    height: 100%;
    width:100%;

  

  }


.content{
    height:90px;
    padding:0 25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    border:1px solid black;
    background-color: rgba(249, 243, 243, 0.7) ;
    position:absolute;
   // opacity: 0.5;

    .title{
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 6px;
        color:#4a4a4a;

    }
    .subtitle{
        font-weight: lighter;
        font-size: 16px;
    }
  }

