.parent-footer{
    display: flex;
    flex-flow: column wrap;
    background-color: #232F3E;
    color: whitesmoke;
    margin-top: 1rem;
  //  width:auto;
  
    & .first-child{
      line-height: 8vh;
      text-align: center;
      background: #37475A;
      margin-bottom: 1.5rem;
      cursor: pointer;
     // width: 100%;
  
      & .Link{
        display: block;
        color: white;
        text-align: center;
        padding: 0.7rem 0;
      }
    }
  
    & .second-child{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  
      & .column{
        font-size: rem;
        display: flex;
        flex-flow: column wrap;
        padding-left: 0.4rem;
  
        & .Link{
          color:white;
          font-size: 0.8rem;
        }
        & .Link:hover{
          text-decoration: underline 0.1rem solid white;
        }
      }
    }
  }
    
  