.collection-menu{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
  

    &:hover{
        .custom-button{
            display:flex;
        }
        .image{
            opacity: 0.7;
        }
    }

.image{ 
    height: 50vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover; 
}
.custom-button{
    position:absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;
    opacity: 0.7;
    display:none;
}
.wishlist-icon{
   position: absolute;
   height: 10%;
   width: auto;
   top: 5%;
   right: 5%;
   &:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 1s;
    opacity: 1;
    z-index: 2;
   }

}
.img{
    height: 20px;
    width: 20px;
}


.collection-menu-footer{
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
}

.related{
    width:100%;
    height: auto;
    flex-flow: column nowrap;
    .collection-menu-footer{
        display: none;
    }

    & .image{
        height: 30vh;
    }
   }

@media only screen and (max-width: 400px) {
    .collection-menu{
        width: 100%;
    }
}   
   